body {
    background-image: url("http://waifu2x.udp.jp/api")
  
}
.divClass {
    display: flex;
  justify-content: center;
  align-items: center;
}

body {
    align-items: center;
    justify-content: center;
    text-align: center;
}
