img {
    width: 400px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.divClass {
    margin: 50px;
}
#DescripcionPersonal{
    margin: 50; 
}
#Educacion {
    margin: 50px;
}

#imagen{
    margin:50px;
}

#hobbies {
    margin: 50px;
}

#Experienciaslaborales {
    margin:50px
}

#Skills {
    margin: 50 ;
}
body{
    background-image: url("https://previews.123rf.com/images/oksancia/oksancia1307/oksancia130704342/21263924-pastel-blue-fabric-ikat-diamond-seamless-pattern-background.jpg");
    text-align: justify;
    font-size: 20;
    display: block;

}


H1 {font-size: 30;}
H2 {font-size: 40;}
h3 {font-size: 25;}
